@import "compass_twitter_bootstrap"; /* Use this to get all of Bootstrap's @mixins and $variables */

html {
  -webkit-font-smoothing: antialiased;
}

body {
  background: #ffffff url(/images/lightgrainbackground.gif) repeat top left; 
}
.header-wrapper {
  position: absolute;
  top: 40px;
  z-index: 100;
  background-color: #eec843;
  background-color: rgba(243,195,42,0.3);
  height: 165px;
  width: 100%;
  min-width: 860px;
  .stripe {
    position: absolute;
    margin-top: 45px;
    background-color: #FFD322;
    height: 75px;
    width: 100%;
  }
  .header {
    margin: 63px auto 0;
    height: 75px;
    position: relative;
    width: 860px;
    h1 {
      position: absolute;
      top: -41px;
      right: 0;
      font-family: 'cubanonormal';
      font-size: 94px;
      letter-spacing: .04em;
      line-height: 40px;
      color: black;
      text-shadow: 4px 4.5px 0 #007FA5;
      text-align: right;
      margin-right: 46px;

      span {
        font-size: 46px;
        letter-spacing: 0.04em;
        text-shadow: 2px 2px 0 #007FA5;
        display: block;
        margin-bottom: -10px;
        margin-right: 13px;
      }
    }
    h2 {
      float: left;
      font-family: 'PacificoRegular';
      font-size: 18px;
      position: absolute;
      margin-left: 42px;
      font-weight: normal;
      color: #000000;
    }
  }
}
.container {
  position:relative;
  width: 860px;
  padding-top: 250px;
  background-color: #ffffff;
  @include border-radius(0 0 15px 15px);
  @include box-shadow(0 0 3px rgba(241,218,158,0.45));
  margin-bottom: 75px;
} 

.blog {
  margin-top: -20px;
  margin-left:  42px;
  h3 {
    font-family: 'open_sans_semiboldregular';
    font-size: 26px;
    color: #007fa5;
    text-transform: uppercase;
    font-weight: normal;
    span {
      font-family: 'open_sans_semibolditalic';
      font-size: 14px;
      color: #585757;  
      text-transform: none;  
      font-weight: normal;      
    }  
  }  
  .description {
    font-family: 'open_sans_semibolditalic';
    font-size: 12px;
    color: #585757;  
    text-transform: none;  
    font-weight: normal; 
  }
  img {
    margin-top: 20px;
    max-width: 100%
  }
}

.footer { 
  margin-top: 40px;
  margin-left: 0px;
  padding-left: 42px;
  padding-top: 10px;
  padding-bottom: 10px; 
  background-color: #f3d87b;
  @include border-radius(0 0 15px 15px);
  @include box-shadow(0 0 3px rgba(241,218,158,0.45));
  .footertext {
    font-family: 'open_sans_semibolditalic';
    font-size: 12px;
    // margin-left: 150px;
    text-align: center;
    color: rgb(43, 43, 43);
  }
}

@font-face {
  font-family: 'PacificoRegular';
  src: url('/fonts/Pacifico-webfont.eot');
  src: url('/fonts/Pacifico-webfont.eot?#iefix') format('embedded-opentype'),
       url('/fonts/Pacifico-webfont.woff') format('woff'),
       url('/fonts/Pacifico-webfont.ttf') format('truetype'),
       url('/fonts/Pacifico-webfont.svg#PacificoRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'cubanonormal';
    src: url('/fonts/cubano-regular-webfont-webfont.eot');
    src: url('/fonts/cubano-regular-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/cubano-regular-webfont-webfont.woff') format('woff'),
         url('/fonts/cubano-regular-webfont-webfont.ttf') format('truetype'),
         url('/fonts/cubano-regular-webfont-webfont.svg#cubanonormal') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sans_semiboldregular';
    src: url('/fonts/opensans-semibold-webfont.eot');
    src: url('/fonts/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/opensans-semibold-webfont.woff') format('woff'),
         url('/fonts/opensans-semibold-webfont.ttf') format('truetype'),
         url('/fonts/opensans-semibold-webfont.svg#open_sans_semiboldregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sans_semibolditalic';
    src: url('/fonts/opensans-semibolditalic-webfont.eot');
    src: url('/fonts/opensans-semibolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/opensans-semibolditalic-webfont.woff') format('woff'),
         url('/fonts/opensans-semibolditalic-webfont.ttf') format('truetype'),
         url('/fonts/opensans-semibolditalic-webfont.svg#open_sans_semibolditalic') format('svg');
    font-weight: normal;
    font-style: normal;

}
