.blog
  %h3 CARTEL <span>September 7th, 2012 </span> </br>
  .description= t('cartel')

  %img{src:"/images/cartel.jpg"}


  %h3 LETRERO <span>September 6th, 2012 </span> </br>
  .description= t('letrero')

  %img{src:"/images/letrero.jpg"}
