!!!
%html
  %head
    %meta{charset: 'utf-8'}
    %title #{@title +' - ' unless !@title}SketchLexico
    / %meta{:name=>"viewport", :content=>"width=device-width,user-scalable=no"}
    %meta{name: 'viewport', content: 'width=device-width'}
    %meta{content: 'An illustrated collection of design related terms in Español.', name: 'description'}
    %meta{content: 'Rebecca White', name: 'author'}
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>

    %link{rel: 'stylesheet', type: 'text/css', href: 'stylesheets/style.css', media: 'all'}

    / Le fav and touch icons
    %link{href: 'images/favicon.ico', rel: 'shortcut icon'}
    %link{href: 'images/apple-touch-icon.png', rel: 'apple-touch-icon'}
    %link{href: 'images/apple-touch-icon-72x72.png', rel: 'apple-touch-icon', sizes: '72x72'}
    %link{href: 'images/apple-touch-icon-114x114.png', rel: 'apple-touch-icon', sizes: '114x114'}
  %body
    .header-wrapper
      .locales
        %a{href: '/'} English
        |
        %a{href: '/es'} Español
      .stripe
      .header
        %h1 <span>Sketch</span><br/>Léxico
        %h2= t('title_phrase')

    .container
      = yield
      .footer
        .footertext
          = t('footer_html')

    %script{src: 'https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js', type: 'text/javascript'}

  :javascript
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-34645732-1']);
    _gaq.push(['_setDomainName', 'sketchlexico.com']);
    _gaq.push(['_setAllowLinker', true]);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
